---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Portfolio de Alberto  - Programador y Desarrollador web"
  description="Programador web con más de 2 años de experiencia con Wordpress y Angular/Ionic. Especialista en soluciones totalmente adaptadas a tus necesidades"
>
  <main>
    <Container id="about" class="pt-24 lg:pt-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="images/logo.png"
        alt="Alberto photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex gap-x-4 pb-4"
      >
        Hey, im Alberto <a
          href="https://www.linkedin.com/in/alberto-moreno-murillo/"
          target="_blank"
          rel="noopener"
          class="flex items-center"
        >
          <Badge>Available for work</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap text-white">
        <span>+2 years of experience.</span><span class="text-yellow-200">
          Web and Mobile Developer.</span
        >
      </h2>
      <span class="text-red-200/90 text-pretty">
        From Valencia, Spain 🇪🇸.</span
      ><span class="opacity-80 text-white">
        Higher Technician in Web Application Development and Web Application
        Development with demonstrable experience. I have a strong interest in
        Javascript, currently learning React framework.</span
      >
      <nav class="flex flex-wrap gap-y-4 gap-x-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/alberto-moreno-murillo/">
          <LinkedinIcon class="size-5 md:size-6" />
          Linkedin
        </SocialPill>
        <SocialPill href="https://github.com/Albertomomu">
          <GithubIcon class="size-5 md:size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:alberto.moreno2357@gmail.com">
          <MailIcon class="size-5 md:size-6" />
          alberto.moreno2357@gmail.com
        </SocialPill>
      </nav>
    </Container>
    <Container id="experience">
      <h2
        class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <Briefcase class="size-7" />
        Experience
      </h2>
      <Experience />
    </Container>
    <Container id="projects">
      <h2
        class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <Code class="size-7" />
        Projects
      </h2>
      <Projects />
    </Container>
    <Container id="contact">
      <Contact />
    </Container>
  </main>
  <Footer />
</Layout>
