---

---

<section class="w-full flex justify-center mt-12">
  <div class="w-11/12 grid grid-cols-1 md:grid-cols-2 justify-items-center">
    <div>
      <img
        src="../../public/backgrounds/figure.png"
        alt=""
        width="500px"
        height="auto"
        class="mt-36"
      />
    </div>
    <div>
      <h1
        class="text-6xl font-bold italic text-gradient from-blue-500 via-purple-500 to-pink-500"
      >
        Frontend Developer
      </h1>
      <p class="mt-8 text-md font-light">
        I am a dedicated and passionate frontend developer with over a year of
        hands-on experience in crafting engaging and dynamic websites. My
        journey began with WordPress, where I honed my skills in creating
        beautiful, user-friendly, and customizable websites for clients from
        various industries. As a frontend developer, I understand the importance
        of a seamless user experience and a visually appealing interface. My
        commitment to continuous learning has driven me to explore and master
        technologies like Angular, React, and Next.js to take my expertise to
        the next level.
      </p>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("../../public/backgrounds/aboutMe.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: color-burn;
    background-clip: border-box;
    height: 100vh;
  }
</style>
