---
import { getRelativeLocaleUrl } from "astro:i18n";
import English from "./icons/English.astro";
import Spain from "./icons/Spain.astro";
---

<header
  class="flex justify-center items-center py-8 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex gap-x-4 lg:gap-x-10 opacity-80 text-white">
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
    <a href={getRelativeLocaleUrl("es")}><Spain class="size-5" /></a>
    <a href={getRelativeLocaleUrl("en")}><English class="size-5" /></a>
  </nav>
</header>
